<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="img-container">
          <img src="Capture.PNG" alt="" />
        </div>
        <h1>Welcome to Pintrest</h1>
        <form action="">
          <input type="email" name="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <p class="para"><a href="">Forgot your password</a></p>
          <button>Login in</button>
          <p>OR</p>
          <button>
            <img src="facebook.PNG" alt="" />Continue with Facebook
          </button>
          <button><img src="google.PNG" alt="" />Continue with Google</button>
        </form>
        <p class="para2">
          By continuing , you agree to Pintrest
          <b>Terms of Services, Privacy Policy</b>
        </p>
        <hr />
        <a href=""><h4>Not on Pintrest yet? Sign up</h4></a>
      </div>
    </div>
  </body>
</html>
