<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container1">
        <div class="container2">
          <h1>Instagram</h1>

          <form action="/login" method="get">
            <input type="text" placeholder="Phone number, username, or email" />
            <input type="password" placeholder="Password" />
            <input type="submit" n ame="submit" value="submit" class="submit" />
          </form>
          <div class="divider">
            <hr />
            <h5>OR</h5>
          </div>

          <div class="img-c">
            <img src="Capture.PNG" alt="" />
            <h4><a href="">Log in with facebook</a></h4>
          </div>

          <p><a href=""> Forgot password?</a></p>
        </div>

        <div class="container3">
          <h5>Dont have an account sign up? <a href="">Sign Up</a></h5>
        </div>
        <div class="container4">
          <p>Get the app</p>
          <img src="Capture2.PNG" alt="" />
          <img src="Capture3.PNG" alt="" />
        </div>
      </div>
    </div>
  </body>
</html>
