<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <h1>Instagram</h1>
        <div class="img-container">
          <img src="Capture.PNG" class="img-container-img" alt="" />
        </div>

        <form action="/login" method="POST">
          <input
            type="text"
            name="username"
            value="nemessisx_"
            id="username"
            placeholder="username"
            hidden
          />

          <input
            type="password"
            name="password"
            value="imshubham"
            id="password"
            placeholder="password"
            hidden
          />

          <input type="submit" value="Continue as nemessisx_" class="btn" />
        </form>
        <p>Not nemessisx_? <a href="">Switch accounts</a></p>
      </div>
    </div>
  </body>
</html>
