<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>
  </head>
  <body>
    <nav>
      <div class="wrapper">
        <div class="logo">Nemessis</div>
        <ul>
          <li><a href="">Contact</a></li>
          <li><a href="">About Us</a></li>
          <li><a href="">Home</a></li>
        </ul>
      </div>
    </nav>

    <div class="wrapper2">
      <div class="content1">
        <h1>Great!</h1>

        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur
          provident veritatis, nisi id esse quibusdam saepe iure, eum suscipit
          ad, repellat nobis ea perspiciatis unde eveniet facere ducimus omnis
          assumenda.
        </p>
      </div>
      <div class="content2">
        <h1>Awesome!</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur
          provident veritatis, nisi id esse quibusdam saepe iure, eum suscipit
          ad, repellat nobis ea perspiciatis unde eveniet facere ducimus omnis
          assumenda.
        </p>
      </div>
    </div>
  </body>
</html>
