<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="img-container">
            
            <img src="Capture.PNG" alt="" /></div>
        <h1>Welcome to pinterest</h1>
        <p>Find new idea to try</p>
        <a href=""><button class="btn1"><a href="">Login </a></button></a>

        <button class="btn2"><a href="heelo.com"> Sign Up</a></button>

        <hr />
        <h4><a href="" > bussiness account</a></h2>
      </div>
    </div>

  </body>
</html>
