<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <div class="head">
          <h4>Suggestions For You</h4>

          <h5>See all</h5>
        </div>
        <div class="content">
          <img src="Capture.PNG" alt="" />
          <div>
            <h3>nemessisx_</h3>
            <p>New to Instagram</p>
          </div>
          <a href="">
            <h4>Follow</h4>
          </a>
        </div>
        <div class="content">
          <img src="Capture.PNG" alt="" />
          <div>
            <h3>nemessisx_</h3>
            <p>New to Instagram</p>
          </div>
          <a href="">
            <h4>Follow</h4>
          </a>
        </div>
        <div class="content">
          <img src="Capture.PNG" alt="" />
          <div>
            <h3>nemessisx_</h3>
            <p>New to Instagram</p>
          </div>

          <a href="">
            <h4>Follow</h4>
          </a>
        </div>
        <div class="content">
          <img src="Capture.PNG" alt="" />
          <div>
            <h3>nemessisx_</h3>
            <p>New to Instagram</p>
          </div>

          <a href="">
            <h4>Follow</h4>
          </a>
        </div>
        <div class="content">
          <img src="Capture.PNG" alt="" />
          <div>
            <h3>nemessisx_</h3>
            <p>New to Instagram</p>
          </div>

          <a href="">
            <h4>Follow</h4>
          </a>
        </div>
        <div class="content">
          <img src="Capture.PNG" alt="" />
          <div>
            <h3>nemessisx_</h3>
            <p>New to Instagram</p>
          </div>

          <a href="">
            <h4>Follow</h4>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
