<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="container">
        <h1>Component</h1>
        <ul>
          <li><a href="../index.html"> HOME</a></li>
          <li><a href="./pintrest widget/"> Pintrest Login</a></li>
          <li><a href="./Instagram form/"> Instagram Login</a></li>
          <li><a href="./Instagram suggestion/">Suggestion Widget</a></li>
          <li><a href="./instalogin/">Instagram Instant Login</a></li>
          <li><a href="./pintrest component/">Pintrest OAUTH form</a></li>
          <li><a href="./color ui/"> Noob UI </a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
