<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      <li><a href="./Instagram form/"> component-one</a></li>
      <li><a href="./Instagram suggestion/">component-two</a></li>
      <li><a href="./instalogin/">component-three</a></li>
      <li><a href="./pintrest component/">component-four</a></li>
      <li><a href="./color ui/"> noob ui </a></li>
    </ul>
  </body>
</html>
